{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"plugins": ["@typescript-eslint", "import"],
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:vue/vue3-recommended",
		"prettier"
	],
	"parserOptions": {
		"sourceType": "module"
	},
	"rules": {
		"no-unused-vars": "off",
		"@typescript-eslint/no-unused-vars": ["error", { "args": "none" }],
		"@typescript-eslint/ban-ts-comment": "off",
		"no-prototype-builtins": "off",
		"@typescript-eslint/no-empty-function": "off",
		"vue/script-setup-uses-vars": "error"
	},
	"settings": {
		"import/resolver": {
			"alias": {
				"map": [
					["@", "./src"] //default @ -> ./src alias in Vue, it exists even if vue.config.js is not present
					/*
					 *... add your own webpack aliases if you have them in vue.config.js/other webpack config file
					 * if you forget to add them, eslint-plugin-import will not throw linting error in .vue imports that contain the webpack alias you forgot to add
					 */
				],
				"extensions": [".vue", ".json", ".js"]
			}
		}
	}
}
